extends layout_with_refresh

block content
  .row.page-header: .col-lg-12
    div( style='position: relative;')
       h1(style='opacity: 0;')= "_______________________"
       h2(style='text-align: left; width: 70%')= "АРМ Пчеловода Система ТЕССО"
       image(src = '/images/background.jpg', style='position: absolute; top: 0px; right: 0px; height: 100px;')
  .row
      h3= "ОСНОВНАЯ ПАСЕКА"
  .row
    each location, i in locations
      .col-md-2.mb-2
        ul(style='opacity: #{location.opacity}').list-group.mb-2
          li.list-group-item.d-flex.justify-content-between
            div(style='height: 20px; length: 100%; background: #{location.color}')
            h3.strong Улей № #{location.sn}
            .text-info Обновлено: #{location.timestamp}
            .text-info GPS: #{location.gsmlat}N #{location.gsmlon}E
          li.list-group-item.d-flex.justify-content-between.lh-condensed
            h5.text-center Температура
            h5.text-danger T2 = #{location['temperature 2']} &deg;C
            h5.text-center Влажность
            h5.text-success H1 = #{location.humidity} %
            h5.text-center Качество воздуха
            h5.text-success CO2 = #{location.CO2eq} ppm
            h5.text-danger ЛОВ = #{location.TVOC} ppb
          li.list-group-item.d-flex.justify-content-between.lh-condensed
            h5.text-center Атмосферное давление
            h5.text-success Давл. = #{location.pressurebarom} Pa
            h4.text-warning Крышка = ЗАКР
          li.list-group-item.d-flex.justify-content-between.lh-condensed
            a.btn.btn-warning Послушать звук
            a.btn.btn-info Анализ звука пчел
  .row
    h3= "ОТВОДКИ И РОИ"
  .row
    each location, i in otherLocations
      .col-md-2.mb-2
        ul(style='opacity: #{location.opacity}').list-group.mb-2
          li.list-group-item.d-flex.justify-content-between
            div(style='height: 20px; length: 100%; background: #{location.color}')
            h3.strong Улей № #{location.sn}
            .text-info Обновлено: #{location.timestamp}
            .text-info GPS: #{location.gsmlat}N #{location.gsmlon}E
          li.list-group-item.d-flex.justify-content-between.lh-condensed
            h5.text-center Температура
            h5.text-danger T2 = #{location['temperature 2']} &deg;C
            h5.text-center Влажность
            h5.text-success H1 = #{location.humidity} %
            h5.text-center Качество воздуха
            h5.text-success CO2 = #{location.CO2eq} ppm
            h5.text-danger ЛОВ = #{location.TVOC} ppb
          li.list-group-item.d-flex.justify-content-between.lh-condensed
            h5.text-center Атмосферное давление
            h5.text-success Давл. = #{location.pressurebarom} Pa
            h4.text-warning Крышка = ЗАКР
          li.list-group-item.d-flex.justify-content-between.lh-condensed
            a.btn.btn-warning Послушать звук
            a.btn.btn-info Анализ звука пчел





