extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
    table.table
      thead
        tr.row: th порядковый номер посылки
                th время приема сообщения
                th серийный номер
                th счетчик попыток
                th уровень заряда
                th дата GPS
                th время GPS
                th широта
                th долгота
                th спутники GPS
                th спутники GLONASS
                th количество спутников
                th числовой параметр
                th широта
                th долгота
                th дата GSM
                th время GSM
                th влажность
                th температура 1
                th давление
                th температура 2
                th органические вещества
                th углекислый газ
                th звуковое давление
      tbody
       each location, i in locations
        tr.row: td #{location.number}
            td #{location.timestamp ? new Date(location.timestamp).toLocaleDateString("ru") + "\n" + new Date(location.timestamp).toLocaleTimeString('ru-RU') : ''}
            td #{location.sn}
            td #{location.ctr}
            td #{location.batt}
            td #{location.date}
            td #{location.time}
            td #{location.lat}
            td #{location.lon}
            td #{location.gpsvis}
            td #{location.gnsvis}
            td #{location.satused}
            td #{location.gsmlc}
            td #{location.gsmlat}
            td #{location.gsmlon}
            td #{location.gsmdate}
            td #{location.gsmtime}
            td #{location.humidity}
            td #{location['temperature 1']}
            td #{location.pressurebarom}
            td #{location['temperature 2']}
            td #{location.TVOC}
            td #{location.CO2eq}
            td #{location.acoustic}



